<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="939fd1">  <td>18/10/15 16:40:13</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestRunner.Open_Browser()[pri:0, instance:com.bmg.myBmg.runner.TestRunner@69ea3742]">&gt;&gt;Open_Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1262822392</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/10/15 16:40:52</td>   <td>39592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.Scenario_1()[pri:1, instance:com.bmg.myBmg.runner.TestRunner@69ea3742]">Scenario_1</td> 
  <td>main@1262822392</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/10/15 16:52:02</td>   <td>709407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.getResult(org.testng.ITestResult)[pri:0, instance:com.bmg.myBmg.runner.TestRunner@69ea3742]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1262822392</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/10/15 16:52:02</td>   <td>709416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.Scenario_2()[pri:2, instance:com.bmg.myBmg.runner.TestRunner@69ea3742]">Scenario_2</td> 
  <td>main@1262822392</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/10/15 16:54:23</td>   <td>849900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.getResult(org.testng.ITestResult)[pri:0, instance:com.bmg.myBmg.runner.TestRunner@69ea3742]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1262822392</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/10/15 16:54:23</td>   <td>849902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.Scenario_3()[pri:3, instance:com.bmg.myBmg.runner.TestRunner@69ea3742]">Scenario_3</td> 
  <td>main@1262822392</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/10/15 17:00:27</td>   <td>1214145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.getResult(org.testng.ITestResult)[pri:0, instance:com.bmg.myBmg.runner.TestRunner@69ea3742]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1262822392</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/10/15 17:00:27</td>   <td>1214146</td> <td>&nbsp;</td><td title="&lt;&lt;TestRunner.close()[pri:0, instance:com.bmg.myBmg.runner.TestRunner@69ea3742]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1262822392</td>   <td></td> </tr>
</table>
